---
---
@charset "utf-8";

$selin_green: #5b924c;

.selin-green {
	background-color: $selin-green;
}

.jumbotron.selin-green {
	background-color: $selin-green;
}

.btn.selin-green {
	background-color: $selin-green;
}

/* hide spinner on numbers */
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@mixin puzzle-input {
	width: 5vw;
	height: 10vw;		
}

#puzzle-input-1 {
	@include puzzle-input	
}

#puzzle-input-2 {
	@include puzzle-input	
}

#puzzle-input-3 {
	@include puzzle-input	
}

